.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  background-color: #000;
  margin: 10px 10%;
  border-radius: 10px;
}
.header .logo {
  width: 100px;
  height: 100px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header .menu ul li {
  list-style: none;
}
.header .menu ul li a {
  text-decoration: none;
  color: #fff;
}

.header .menu ul li a:hover {
  color: #000;
}
.btn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
