.header {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
  background-color: #000;
  margin: 21px 5% 0;
  border-radius: 50px;
  width: 85%;
  z-index: 1;
}
.header .logo {
  width: 100px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header .menu ul li {
  list-style: none;
}
.header .menu ul li a {
  text-decoration: none;
  color: #868686;
  font-family: "DM Sans", sans-serif;
}

.header .menu ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 23px;
}
.btn {
  background-color: #fff;
  color: #000;
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
}
