.aboutus {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
    width: 100%;
}

.aboutus-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11%;
}

.about-us-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
}

.about-us-title {
  position: relative;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #191919;
  font-weight: 400;
  z-index: 2;
  background: transparent;
  line-height: 1.1;
  margin: 0;
  padding: 0 0rem 0rem 0rem;
  display: inline-block;
}

.aboutus-container {
 padding: 80px 10% 0;
}

.aboutus-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 11%;
  margin-bottom: 0;
}

.aboutus-image img {
  border-radius: 70px;
  width: 100%;
}

.aboutus-image h2 {
  font-size: 117px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: -22%;
  margin-left: 32%;
}

.mission-section .aboutus-image h2{
  margin-left: -30%;
}

.aboutus-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
