.aboutus {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
    width: 100%;
}

.aboutus-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11%;
}

.about-us-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
}

.about-us-title {
  position: relative;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #191919;
  font-weight: 400;
  z-index: 2;
  background: transparent;
  line-height: 1.1;
  margin: 0;
  padding: 0 0rem 0rem 0rem;
  display: inline-block;
}

.aboutus-container {
 padding: 80px 10% 0;
}

.aboutus-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 11%;
  margin-bottom: 0;
}

.aboutus-image img {
  border-radius: 70px;
  width: 100%;
}

.aboutus-image h2 {
  font-size: 117px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: -22%;
  margin-left: 32%;
}

.mission-section .aboutus-image h2{
  margin-left: -30%;
}

.aboutus-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-choose-us-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 11%;
}

.why-choose-us-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
}

.why-choose-us-title {
  position: relative;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-weight: 400;
  z-index: 2;
  background: transparent;
  line-height: 1.1;
  margin: 0;
  padding: 0 0rem 0rem 0rem;
  display: inline-block;
}

.why-choose-us-cards {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;
  padding: 0 10%;
}

.choose-card {
  background: #fff;
  border: 0.5px solid #000000;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  padding: 32px 24px 24px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s;
}

.choose-card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.choose-icon {
  background: #191919;
  color: #fff;
  border-radius: 20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: -55px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.choose-icon img {
  height: 35px;
}

.choose-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 0;
}

.choose-card p {
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 0 25px;
}

.choose-shop-btn-wrapper {
  display: flex;
  justify-content: center;
}

.choose-shop-btn {
  font-family: "DM sans", sans-serif;
  background: #191919;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
}

@media (max-width: 1440px) {
  .about-us-img
   {
    width: 220px;
  }

  .about-us-title {
    font-size: 36px;
  }
  .about-us-title{
    margin-top: 8px;
  }

  .aboutus-container {
    padding: 60px 6% 0;
  }

  .aboutus-section {
    gap: 7%;
  }

  .aboutus-image img {
    border-radius: 50px;
    width: 85%;
  }
  .aboutus-image h2 {
    font-size: 90px;
    margin-top: -15%;
    margin-left: 36%;
}

  .mission-section .aboutus-image h2 {
    margin-left: -23%;
  }

  .choose-card h3 {
    font-size: 22px;
  }

  .choose-card p {
    font-size: 13px;
    padding: 0 10px;
  }

  .choose-icon {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    margin-top: -48px;
  }

  .choose-icon img {
    height: 22px;
  }

  .choose-shop-btn {
    font-size: 16px;
    padding: 6px 28px;
  }
  .why-choose-us-img{
    width: 310px;
  }
  .why-choose-us-title{
    font-size: 36px;
    margin-top: 20px;
  }
  .why-choose-us-cards {
    display: flex;
    gap: 40px;
    margin-bottom: 32px;
    padding: 10px 15%;
}
}

@media (max-width: 1024px) {
  .about-us-img {
    width: 150px;
  }
  .about-us-title {
    font-size: 24px;
    margin-top: 10px;
  }
  .aboutus-container {
    padding: 30px 2% 0;
  }
  .aboutus-section {
    gap: 3%;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .aboutus-image img {
    border-radius: 30px;
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .aboutus-image h2 {
    font-size: 65px;
    margin-top: -10%;
    margin-left: 50%;
    text-align: center;
}
  .mission-section .aboutus-image h2 {
    margin-left: -65%;
  }
  .aboutus-text {
    font-size: 12px;
    padding: 0 10px;
  }
  .why-choose-us-img {
    width: 230px;
  }
  .why-choose-us-title {
    font-size: 24px;
    margin-top: 17px;
  }
  .why-choose-us-cards {
    flex-direction: row;
    gap: 50px;
    padding: 10px 10%
}
  .choose-card {
    padding: 15px 10px 14px 14px;
    border-radius: 16px;
    width: 215px;
    height: 150px;
}
  .choose-card h3 {
    font-size: 16px;
  }
  .choose-card p {
    font-size: 11px;
    padding: 0 2px;
  }
  .choose-icon {
    width: 35px;
    height: 35px;
    font-size: 5px;
    margin-top: -28px;
}
  .choose-icon img {
    height: 14px;
  }
  .choose-shop-btn {
    font-size: 12px;
    padding: 4px 16px;
  }
}

@media (max-width: 768px) {
  .aboutus-container {
    padding: 30px 5% 0;
}
  .aboutus{
    padding: 10px 0;
  }
  .history-section {
    gap: 6%;
    margin-bottom: 6px;
}
 .aboutus-image img {
    width: 300px;
    border-radius: 40px;
    margin-top: 12px;
  }
  .aboutus-image h2 {
    font-size: 50px;
    margin-top: -15%;
    margin-left: 50%;
}
 .aboutus-text {
  font-size: 10px;
  padding: 0px 5%;
  margin-top: 10px;
}

.aboutus-text p{
  margin: 10px 0;
}


}