.product-container {
  background-image: url("../../assets/productbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  width: 100%;
  height: 100vh;
}
.hero-title h1{
  margin-top: 32%;
  font-size: 120px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.browse-lights {
  position: relative;
  text-align: center;
  padding: 100px 0;
}
.browse-lights-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  max-width: 60vw;
  opacity: 1.1;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.browse-lights-title {
  position: relative;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #191919;
  font-weight: 400;
  z-index: 2;
  background: transparent;
  line-height: 1.1;
  margin: 0;
  padding: 0 0rem 0rem 0rem;
  display: inline-block;
}
.browse-lights-content{
  padding: 50px 10%;
  display: flex;
 flex-direction: row;
}
.filter-box {
  width: 220px;
  height: 150px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #000;
}
.browse-product-box {
  display: grid;
  height: 320px;
  width: 260px;
  border: 0.43px solid #000000;
 border-radius: 2.5rem;
  justify-content: center;
}
.browselights1-img {
  width: 235px;
  height: 235px;
  margin-top: 10px;
}
.product-info{
  display: flex;
  flex-direction: row;
}
.product-details {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  gap: 2px
}
.product-title{
  color: #000;
  font-size: 14px;
  font-weight: 450;
}
.product-desc{
  color: #000;
  font-size: 12px;
  font-weight: 450;
  
}
.details-btn {
  margin-left: 18%;
  margin-top: 5%;
}
.view-details {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  height: 25px;
  width: 85px;
  font-size: 11px;
}