.product-container {
  background-image: url("../../assets/productbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  width: 100%;
  height: 100vh;
}
.hero-title h1{
  margin-top: 32%;
  font-size: 120px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.browse-lights {
  position: relative;
  text-align: center;
  padding: 100px 0;
}
.browse-lights-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  max-width: 60vw;
  opacity: 1.1;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.browse-lights-title {
  position: relative;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: #191919;
  font-weight: 400;
  z-index: 2;
  background: transparent;
  line-height: 1.1;
  margin: 0;
  padding: 0 0rem 0rem 0rem;
  display: inline-block;
}