.footer .get {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 25%;
  border-radius: 65px;
  padding: 35px 25px;
}
.footer .get h1 {
  margin: 0;
  font-weight: 600;
  font-size: 50px;
}
.footer .get p {
  margin: 0;
  font-weight: 400;
}
.footer .get button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 7px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.footer .join {
  margin: -8% 10%;
  padding: 15% 100px 0px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.footer .join h1 {
  font-size: 20px;
  font-weight: 600;
  font-size: 50px;
  margin: 0;
  font-family: "Playfair Display", serif;
}
.footer .join input {
  padding: 10px 20;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid;
  width: 40%;
  padding: 10px 0;
}
.footer .join button {
  background-color: #fff;
  color: #000;
  padding: 10px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 25px;
  border: 0.5px solid #000;
}
.footer .join-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}
.footer .quick-links {
  display: flex;
  flex-direction: column;
}
.footer .quick-links h1 {
  font-size: 20px;
  font-weight: 600;
}
.footer .quick-links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.footer .quick-links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer .footer-info-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .Contact {
  display: flex;
  flex-direction: column;
}
.footer .Contact h1 {
  font-size: 20px;
  font-weight: 600;
}
.footer .Contact p {
  font-size: 16px;
  font-weight: 400;
}
.footer .email {
  display: flex;
  flex-direction: column;
}
.footer .email h1 {
  font-size: 20px;
  font-weight: 600;
}
.footer .email p {
  font-size: 16px;
  font-weight: 400;
}
.footer .Address {
  display: flex;
  flex-direction: column;
}
.footer .Address h1 {
  font-size: 20px;
  font-weight: 600;
}
.footer .Address p {
  font-size: 16px;
  font-weight: 400;
}
.footer .Follow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .Follow h1 {
  font-size: 20px;
  font-weight: 600;
}
.footer .follow-icons {
  display: flex;
  gap: 20px;
}
.footer .Follow svg {
  width: 20px;
  height: 20px;
}
