.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 5px 67px;
  background-color: #000;
  margin: 40px 5% 0;
  border-radius: 50px;
  width: 80%;
  z-index: 1;
}
.header .logo {
  width: 130px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header .menu ul li {
  list-style: none;
  position: relative;
}
.header .menu ul li a {
  text-decoration: none;
  color: #868686;
  font-family: "DM Sans", sans-serif;
  transition: color 0.3s ease;
}

.header .menu ul li a:hover,
.header .menu ul li a.active {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 23px;
}

.nav-divider {
  width: 50px;
  height: 20px;
  display: none;
  opacity: 0.5;
}

.header .menu ul li a.active .nav-divider {
  display: block;
}

.btn {
  background-color: #fff;
  color: #000;
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
}
