.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding: 5px 67px;
  background-color: #000;
  margin: 40px 5% 0;
  border-radius: 50px;
  width: 80%;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.header.scrolled {
  margin: 0px 5%;
  position: fixed;
  z-index: 100;
}

.header .logo {
  width: 130px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 7px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header .menu ul li {
  list-style: none;
  position: relative;
}
.header .menu ul li a {
  text-decoration: none;
  color: #868686;
  font-family: "DM Sans", sans-serif;
  transition: color 0.3s ease;
  font-size: 18px;
  position: relative;
}

.header .menu ul li a::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  width: 100%;
  height: 2.5px;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.header .menu ul li a:hover::after,
.header .menu ul li a.active::after {
  opacity: 1;
}

.header .menu ul li a:hover,
.header .menu ul li a.active {
  color: #ffffff;
  text-decoration: none;
}

@keyframes shadowGrow {
  0% {
    box-shadow: 0 4px 0px 0px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 4px 56px 30px rgba(255, 255, 255, 0.5);
  }
}

.nav-divider {
  width: 50px;
  height: 20px;
  opacity: 0.8;
  border-radius: 44px;
  margin-top: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  animation: shadowGrow 0.7s ease-out forwards;
}

.header .menu ul li a.active .nav-divider, .header .menu ul li a:hover .nav-divider {
  display: block;
}

.btn {
  background-color: #fff;
  color: #000;
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
}
